<% include('../layouts/header.ejs')  %>

<h1>Edit Details</h1>

<!-- <%
if(typeof message !== 'undefined'){
    %>
    <h4><%= message %></h4>
    <%
    }
%> -->

<img src="userImages/<%= user.image %>" width="100px" height="100px" alt="<%= user.image %>">

<form action="" method="post" enctype="multipart/form-data">

    <input type="file" name="image">
    <input type="hidden" name="user_id" value="<%= user._id %>">
    <br><br>
    <input type="text" name="name" value="<%= user.name %>" placeholder="Enter name" required>
    <br><br>
    <input type="email" name="email" value="<%= user.email %>" placeholder="Enter email" required>
    <br><br>
    <input type="text" name="mno" value="<%= user.mobile %>" placeholder="Enter mobile" required>
    <br><br>

    <input type="submit" name="Update Profile">
</form>

<% include('../layouts/footer.ejs')  %>